html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
  /*! Запрет выделения текста start */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
  /*! Запрет выделения текста end */
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

a {
    text-decoration: none;
    -webkit-touch-callout: none;
}

body {
    min-width: 320px;
    background-color: #F5F5F5;
    font-family: sans-serif;
    color: #03A6FD;
    font-size: 20px;
    font-weight: 500;
    overflow-x: hidden;
}

.main {
    margin: 20px 0;
}

.container {
    padding: 0 20px;
}

img {
    max-width: 100%;
    height: auto;
}

.photo {
    max-height: 120px;
    margin-bottom: 20px;
}

.actions__item {
    border-bottom: 1px solid #DCDCDC;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    min-height: 200px;
}

.actions__item-inner {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 100%;
    z-index: 2;
    transition: transform 0.3s ease 0s;
    transform: translate3d(0px, 0px, 0px);
    transition-property: transform;
}

.actions__item-inner:active {
    background-color: #f5f5f5;
    transition: all 0.3s ease;
}

.actions__item-actions {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.actions__item-action {
    min-width: 200px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    background-color: #DCDCDC;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: #fff;
}

.actions__item-action:active {
    opacity: 0.3;
    transition: all 0.3 ease;
}

.arrows {
    fill: #03A6FD;
    width: 100px;
}

.touch-block {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    z-index: 1;
}

.touch-block__slides {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.3s ease;
    transition-property: transform;
    transform: translate3d(0px, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.touch-block__slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}

.touch-block__slide img {
    pointer-events: none;
}

.touch-block__pagination {
    position: absolute;
    text-align: center;
    z-index: 10;
}

.touch-block__pagination-numbers {
    position: relative;
    width: 100%;
}

.touch-block__pagination-circles {
    bottom: 10px;
    left: 0;
    width: 100%;
}

.touch-block__pagination-circle {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: 0.3;
    margin: 0 5px;
}

.touch-block__pagination-circle--active {
    opacity: 1;
    background: #03A6FD;
}

.touch-block {
    margin-bottom: 20px;
}
