.touch-block {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    z-index: 1;
}

.touch-block__slides {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.3s ease;
    transition-property: transform;
    transform: translate3d(0px, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.touch-block__slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}

.touch-block__slide img {
    pointer-events: none;
}

.touch-block__pagination {
    position: absolute;
    text-align: center;
    z-index: 10;
}

.touch-block__pagination-numbers {
    position: relative;
    width: 100%;
}

.touch-block__pagination-circles {
    bottom: 10px;
    left: 0;
    width: 100%;
}

.touch-block__pagination-circle {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: 0.3;
    margin: 0 5px;
}

.touch-block__pagination-circle--active {
    opacity: 1;
    background: #03A6FD;
}
